/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* COLORS */
/* LAYOUT */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; }

@font-face {
  font-family: "Montserrat-light";
  src: url("../fonts/Montserrat-Light.ttf"); }

h1,
h3,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin: 0;
  font-weight: bold; }

h4,
p {
  font-family: 'Montserrat-light', sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-family: 'Montserrat Hairline', arial;
  font-size: 3.75em;
  margin: 90px 0; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.875em; }

h5 {
  font-size: 1.8em; }

p {
  font-size: 1.125em;
  color: #000;
  line-height: 1.6875em; }

.col-6, .testimonial .testimonial-content .testimonial-name, .testimonial .testimonial-content .testimonial-quote {
  width: 50%;
  float: left; }

a,
h3,
h4 {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.box-shadow, header.header-small {
  -webkit-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15); }

.button {
  width: 9em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 10em;
  border: none;
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.125em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  .button.button-light {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    color: #000; }
    .button.button-light:hover, .button.button-light:focus {
      border: 1px solid #000;
      background-color: #ffe1bd;
      outline: none; }
  .button.button-border {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    color: #000; }
    .button.button-border:hover, .button.button-border:focus {
      border: 1px solid #000; }
  .button.button-dark {
    background-color: #000;
    color: #fff; }
    .button.button-dark:hover, .button.button-dark:focus {
      background-color: #ffe1bd;
      color: #000; }

button {
  outline: none; }

.heading {
  text-align: center;
  display: inline-block;
  width: 100%; }

.underline, .owl-carousel h5:after, .two-column .two-column-content .two-column-txt .custom-heading:after, .two-column .two-column-content .two-column-txt.two-column-single-txt:before, .statistics .statistics-content .statistic-item h5:after, .text-emphasized:before, .testimonial .testimonial-content .testimonial-name h5:after, .portfolio .isotope-portfolio .isotope-item a .portfolio-hover .portfolio-heading:after, header .header-content nav a.nav-active:after, header .header-content nav a:after, #index .cover #owl-cover .item h1:after, #services-inner .price h3:before, #blog-inner .blog-post .blog-inner-content .paragraph-indented:before, #blog-inner .blog-post .blog-inner-content .blog-inner-text-block:before {
  content: "";
  position: absolute;
  height: 2px;
  background: #000; }

.owl-carousel h5 {
  margin-top: 10px;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 0.2em; }
  .owl-carousel h5:after {
    width: 55px;
    bottom: 0;
    left: 0; }

.contact .contact-content {
  width: 71.875em;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Montserrat-light', sans-serif; }
  @media (max-width: 75.875em) {
    .contact .contact-content {
      width: 95%; } }
  .contact .contact-content .contact-info {
    width: 50%; }
    .contact .contact-content .contact-info .contact-info-list li {
      margin-bottom: 2em;
      line-height: 1.6;
      padding-left: 1em;
      margin-left: 1em;
      position: relative; }
      .contact .contact-content .contact-info .contact-info-list li:before {
        position: absolute;
        left: -1em;
        margin-right: 1em;
        margin-top: 0.1em;
        font-family: FontAwesome; }
      .contact .contact-content .contact-info .contact-info-list li#contact-map:before {
        content: "\f041"; }
      .contact .contact-content .contact-info .contact-info-list li#contact-phone:before {
        content: "\f10b"; }
      .contact .contact-content .contact-info .contact-info-list li#contact-email:before {
        content: "\f003"; }
  .contact .contact-content .contact-form {
    color: #656565;
    width: 50%; }
    .contact .contact-content .contact-form #contact-name,
    .contact .contact-content .contact-form #contact-email,
    .contact .contact-content .contact-form textarea {
      background: transparent;
      width: 100%;
      margin-bottom: 3em;
      padding-bottom: .5em;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #656565;
      font-family: 'Montserrat-light', sans-serif;
      font-size: 1.125em; }
      .contact .contact-content .contact-form #contact-name:focus,
      .contact .contact-content .contact-form #contact-email:focus,
      .contact .contact-content .contact-form textarea:focus {
        outline: none; }
    .contact .contact-content .contact-form textarea {
      height: 5em; }
  .contact .contact-content .button {
    margin: 3em auto 6em auto; }

.contact.contact-dark {
  background-image: url("../img/contact-bckg.jpg"); }
  .contact.contact-dark h2 {
    color: #fff; }
  .contact.contact-dark .contact-info-list li {
    color: #fff; }
  .contact.contact-dark .contact-form #contact-name,
  .contact.contact-dark .contact-form #contact-email,
  .contact.contact-dark .contact-form textarea {
    color: #fff; }

.contact.contact-light {
  background: none; }
  .contact.contact-light h2 {
    color: #000; }
  .contact.contact-light .contact-info-list li {
    color: #656565; }
  .contact.contact-light .contact-form #contact-name,
  .contact.contact-light .contact-form #contact-email,
  .contact.contact-light .contact-form textarea {
    color: #000; }
  .contact.contact-light #contact-map:before {
    color: #000; }
  .contact.contact-light #contact-phone:before {
    color: #000; }
  .contact.contact-light #contact-email:before {
    color: #000; }

.owl-theme .owl-controls .owl-page.active {
  opacity: 1; }
  .owl-theme .owl-controls .owl-page.active span {
    background: #000; }

.owl-theme .owl-controls .owl-page span {
  background: transparent;
  border: 1px solid #000;
  opacity: 1; }

.two-column {
  width: 71.875em;
  margin: 0 auto; }
  @media (max-width: 75.875em) {
    .two-column {
      width: 95%; } }
  .two-column .two-column-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 6.25em; }
    .two-column .two-column-content .order-reverse-a {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
      @media (max-width: 741px) {
        .two-column .two-column-content .order-reverse-a {
          -webkit-box-ordinal-group: 3;
          -webkit-order: 2;
          -ms-flex-order: 2;
          order: 2; } }
    .two-column .two-column-content .order-reverse-b {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
      @media (max-width: 741px) {
        .two-column .two-column-content .order-reverse-b {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
          -ms-flex-order: 1;
          order: 1; } }
    .two-column .two-column-content .two-column-img {
      width: 45%; }
      .two-column .two-column-content .two-column-img img {
        width: 100%; }
    .two-column .two-column-content .two-column-txt {
      width: 45%; }
      .two-column .two-column-content .two-column-txt .custom-heading {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px; }
        .two-column .two-column-content .two-column-txt .custom-heading a {
          display: inline-block; }
          .two-column .two-column-content .two-column-txt .custom-heading a h3,
          .two-column .two-column-content .two-column-txt .custom-heading a h4 {
            color: #000; }
          .two-column .two-column-content .two-column-txt .custom-heading a:hover h3,
          .two-column .two-column-content .two-column-txt .custom-heading a:hover h4, .two-column .two-column-content .two-column-txt .custom-heading a:focus h3,
          .two-column .two-column-content .two-column-txt .custom-heading a:focus h4 {
            color: #ffe1bd; }
        .two-column .two-column-content .two-column-txt .custom-heading:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3.4375em; }
        .two-column .two-column-content .two-column-txt .custom-heading p {
          color: #000;
          margin-bottom: -0.1em;
          padding-top: 1em; }
      .two-column .two-column-content .two-column-txt p {
        color: #656565;
        margin-bottom: 40px; }
      .two-column .two-column-content .two-column-txt .padding-left {
        padding-left: 6.25em; }
      .two-column .two-column-content .two-column-txt .padding-right {
        padding-right: 6.25em; }
      .two-column .two-column-content .two-column-txt.two-column-single-txt {
        position: relative;
        padding-top: 3em; }
        .two-column .two-column-content .two-column-txt.two-column-single-txt:before {
          width: 55px;
          top: 0;
          left: 0; }

.statistics {
  width: 100%; }
  .statistics .statistics-content {
    width: 57em;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 8em;
    text-align: center;
    padding-top: 5em; }
    @media (max-width: 71.875em) {
      .statistics .statistics-content {
        width: 95%; } }
    .statistics .statistics-content .statistic-item h5 {
      position: relative;
      margin-bottom: 0.25em;
      padding-bottom: 0.55em; }
      .statistics .statistics-content .statistic-item h5:after {
        bottom: 0;
        width: 55px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }

.filter-list {
  margin-bottom: 6em;
  text-align: center; }
  .filter-list li {
    cursor: pointer;
    font-size: 1.125em;
    color: #989898;
    font-family: 'Montserrat-light', sans-serif;
    display: inline-block;
    margin-right: 1em; }
    .filter-list li:last-child {
      margin-right: 0; }
    .filter-list li.filter-active, .filter-list li:hover, .filter-list li:focus {
      color: #000; }

.text-emphasized {
  padding-left: 4.375em;
  position: relative;
  padding-top: 2.2em;
  margin-top: 3em; }
  .text-emphasized:before {
    margin-left: 4.375em;
    width: 55px;
    top: 0;
    left: 0; }
  .text-emphasized h5 {
    line-height: 1.3em;
    font-size: 2.5em; }

.contact-info-social li {
  margin-right: .8em;
  display: inline-block; }
  .contact-info-social li a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center; }
  .contact-info-social li:last-child {
    margin-right: 0; }

.contact-info-social.contact-info-social-light li a {
  color: #000;
  background-color: #fff; }
  .contact-info-social.contact-info-social-light li a:hover, .contact-info-social.contact-info-social-light li a:focus {
    background-color: #ffe1bd; }

.contact-info-social.contact-info-social-dark li a {
  color: #fff;
  background-color: #000; }
  .contact-info-social.contact-info-social-dark li a:hover, .contact-info-social.contact-info-social-dark li a:focus {
    background-color: #ffe1bd; }

.testimonial {
  width: 71.875em;
  margin: 0 auto; }
  @media (max-width: 75.875em) {
    .testimonial {
      width: 95%; } }
  .testimonial .testimonial-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .testimonial .testimonial-content .testimonial-name {
      float: right;
      text-align: right;
      padding-right: 5em; }
      .testimonial .testimonial-content .testimonial-name h5 {
        position: relative;
        padding-bottom: 0.5em;
        margin-bottom: 0.2em; }
        .testimonial .testimonial-content .testimonial-name h5:after {
          width: 55px;
          bottom: 0;
          right: 0; }
      .testimonial .testimonial-content .testimonial-name p {
        text-align: right; }
    .testimonial .testimonial-content .testimonial-quote p {
      color: #656565;
      padding-right: 3em; }
  .testimonial #owl-logo {
    margin: 5em auto 6.25em auto; }
    .testimonial #owl-logo .item-logo {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 140px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .testimonial #owl-logo .item-logo img {
        max-width: 150px;
        max-height: 80px; }

.portfolio {
  width: 71.875em;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 75.875em) {
    .portfolio {
      width: 95%; } }
  .portfolio .isotope-portfolio {
    margin-bottom: 2em; }
    .portfolio .isotope-portfolio .isotope-item {
      width: 32.2%;
      height: auto;
      display: inline-block;
      padding: 5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .portfolio .isotope-portfolio .isotope-item:after {
        content: '';
        display: block;
        clear: both; }
      .portfolio .isotope-portfolio .isotope-item a:hover,
      .portfolio .isotope-portfolio .isotope-item a:focus {
        outline: none; }
      .portfolio .isotope-portfolio .isotope-item img {
        width: 100%;
        vertical-align: middle; }
        .portfolio .isotope-portfolio .isotope-item img:hover {
          overflow: hidden; }
      .portfolio .isotope-portfolio .isotope-item a {
        ove6flow: hidden;
        display: block; }
        .portfolio .isotope-portfolio .isotope-item a .portfolio-hover {
          background-color: #ffe1bd;
          position: absolute;
          z-index: 999;
          width: 90%;
          bottom: 1em;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          padding: 2.1em 0;
          display: none; }
          .portfolio .isotope-portfolio .isotope-item a .portfolio-hover .portfolio-heading {
            position: relative;
            padding-bottom: 1em;
            margin-bottom: 0.8em; }
            .portfolio .isotope-portfolio .isotope-item a .portfolio-hover .portfolio-heading:after {
              width: 55px;
              bottom: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto; }
            .portfolio .isotope-portfolio .isotope-item a .portfolio-hover .portfolio-heading h5 {
              font-size: 1.8em; }
            .portfolio .isotope-portfolio .isotope-item a .portfolio-hover .portfolio-heading p {
              font-size: 1em; }

.border-bottom, header {
  border-bottom: 1px solid #d8d8d8; }

.border-top, .statistics, footer {
  border-top: 1px solid #d8d8d8; }

.team {
  background-color: #ffe1bd;
  padding: 90px 0;
  margin-top: 90px; }
  .team h2 {
    margin: 0; }
  .team .team-content {
    width: 71.875em;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
    /* OWL END*/ }
    @media (max-width: 75.875em) {
      .team .team-content {
        width: 95%; } }
    .team .team-content .customNavigation {
      cursor: pointer;
      position: absolute;
      margin-top: 5%;
      z-index: 999; }
      .team .team-content .customNavigation a {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent; }
      .team .team-content .customNavigation .arrow {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 7px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
        .team .team-content .customNavigation .arrow:hover {
          border-top: 3px solid #fff;
          border-right: 3px solid #fff; }
      .team .team-content .customNavigation .arrow-left {
        -ms-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg); }
      .team .team-content .customNavigation .arrow-right {
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .team .team-content .customNavigationLeft {
      left: 0; }
    .team .team-content .customNavigationRight {
      right: 0; }
    .team .team-content #owl-team {
      /* OWL */ }
      .team .team-content #owl-team.owl-width {
        width: 80%;
        margin: 0 auto; }
      .team .team-content #owl-team .item {
        margin: 10px auto;
        text-align: center;
        width: 170px; }
        .team .team-content #owl-team .item .img-circle {
          width: 168px;
          height: 168px;
          border-radius: 50%; }
        .team .team-content #owl-team .item h5:after {
          right: 0;
          margin-left: auto;
          margin-right: auto; }

.related {
  background-color: #ffe1bd;
  padding: 90px 0; }
  .related h2 {
    margin-top: 0;
    margin-bottom: 90px; }
  .related #owl-posts.owl-width {
    width: 80%;
    margin: 0 auto; }
  .related #owl-posts .item {
    margin: 10px auto;
    width: 250px; }

ul {
  margin: 0; }

header {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
  height: 8em;
  top: 0;
  left: 0;
  z-index: 1000; }
  header.header-small {
    border-bottom: none; }
  header .header-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 71.875em;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
    @media (max-width: 75.875em) {
      header .header-content {
        width: 95%; } }
    header .header-content nav a {
      position: relative;
      display: inline-block;
      margin-left: 1em;
      padding: 0.5em 0;
      text-decoration: none;
      color: #989898;
      font-family: 'Montserrat-light', sans-serif; }
      header .header-content nav a.nav-active {
        color: #000;
        position: relative; }
        header .header-content nav a.nav-active:after {
          width: 37px;
          bottom: 0;
          left: 0; }
      header .header-content nav a:after {
        width: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out; }
      header .header-content nav a:hover {
        color: #000;
        position: relative; }
        header .header-content nav a:hover:after {
          width: 37px; }
    header .header-content #nav-icon {
      z-index: 999;
      display: none;
      width: 40px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
      header .header-content #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #d8d8d8;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        header .header-content #nav-icon span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center; }
        header .header-content #nav-icon span:nth-child(2) {
          top: 12px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center; }
        header .header-content #nav-icon span:nth-child(3) {
          top: 24px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center; }
      header .header-content #nav-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px; }
      header .header-content #nav-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0; }
      header .header-content #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 29px;
        left: 8px; }

footer {
  text-align: center;
  padding: 3em; }
  footer h5 {
    font-size: 1.125em; }
  footer p {
    font-size: 0.875em;
    color: #656565; }

#index header {
  border-bottom: none; }

#index .cover {
  width: 71.875em;
  margin: 0 auto;
  position: relative;
  z-index: 888;
  /*owl-cover*/ }
  @media (max-width: 75.875em) {
    #index .cover {
      width: 95%; } }
  #index .cover #owl-cover .item {
    text-align: center;
    padding: 7em 0;
    text-align: center; }
    #index .cover #owl-cover .item h1 {
      position: relative;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em; }
      #index .cover #owl-cover .item h1:after {
        width: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
    #index .cover #owl-cover .item p {
      font-size: 1.5em;
      margin-bottom: -0.5em; }
    #index .cover #owl-cover .item#cover-item-1 {
      background-image: url(../img/cover.jpg); }
    #index .cover #owl-cover .item#cover-item-2 {
      background-image: url(../img/cover2.jpg); }
    #index .cover #owl-cover .item#cover-item-3 {
      background-image: url(../img/cover3.jpg); }
    #index .cover #owl-cover .item a {
      margin-top: 5em; }
  #index .cover #owl-cover .owl-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }
    #index .cover #owl-cover .owl-controls .owl-pagination {
      margin-right: 1em;
      z-index: 999; }
      #index .cover #owl-cover .owl-controls .owl-pagination .owl-page {
        display: block;
        margin-bottom: 1em; }
        #index .cover #owl-cover .owl-controls .owl-pagination .owl-page:last-child {
          margin-bottom: 0; }
    #index .cover #owl-cover .owl-controls .owl-buttons {
      display: none; }

#index footer {
  border-top: none; }

#about .social-network {
  text-align: center; }
  #about .social-network .owl-pagination {
    display: none; }
  #about .social-network .button {
    margin: 4em auto; }

#about footer {
  border-top: none; }

#services-inner .price {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5em 0;
  margin-top: 4em; }
  #services-inner .price h3 {
    color: #fff;
    position: relative;
    margin-left: 0em;
    padding-left: 3em; }
    #services-inner .price h3:before {
      background-color: #fff;
      width: 55px;
      left: 1em;
      right: 2em;
      top: 0.55em; }
  #services-inner .price h4 span {
    color: #d8d8d8;
    padding-left: 0.5em;
    margin-right: 3.5em; }

#services-inner footer {
  border-top: none; }

.works .button {
  margin: 2em auto 4em auto; }

.works .filter-list {
  margin-bottom: 6em;
  text-align: center; }
  .works .filter-list button {
    cursor: pointer;
    font-size: 1.125em;
    color: #989898;
    font-family: 'Montserrat-light', sans-serif;
    display: inline-block;
    margin-right: 1em;
    background-color: transparent;
    border: none; }
    .works .filter-list button:last-child {
      margin-right: 0; }
    .works .filter-list button.filter-active, .works .filter-list button:hover, .works .filter-list button:focus {
      color: #000;
      background-color: transparent;
      border: none; }

#works-inner .works-controls {
  width: 100%;
  text-align: center; }
  #works-inner .works-controls .button {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.125em;
    color: #989898;
    width: 4em;
    display: inline-block; }

#works-inner .works-images {
  margin-top: 6em; }
  #works-inner .works-images #owl-works {
    width: 952px;
    margin: 0 auto; }
    #works-inner .works-images #owl-works .item img {
      width: 100%; }
    #works-inner .works-images #owl-works .owl-pagination {
      margin-top: 3em;
      margin-bottom: 6em; }
    #works-inner .works-images #owl-works .owl-buttons {
      display: none; }

#works-inner .text-emphasized {
  margin-top: 0; }

#works-inner .contact-info-social {
  padding-top: 3em; }

#works-inner footer {
  border-top: none; }

#blog-inner .blog-post .heading {
  margin-bottom: 6em; }

#blog-inner .blog-post .blog-inner-content {
  width: 47.25em;
  margin: 0 auto; }
  @media (max-width: 47.25em) {
    #blog-inner .blog-post .blog-inner-content {
      width: 95%; } }
  #blog-inner .blog-post .blog-inner-content img {
    width: 100%; }
  #blog-inner .blog-post .blog-inner-content p {
    margin-bottom: 2em;
    color: #656565; }
  #blog-inner .blog-post .blog-inner-content .paragraph-indented {
    position: relative;
    margin-left: -1.5em;
    padding-left: 4em; }
    #blog-inner .blog-post .blog-inner-content .paragraph-indented:before {
      top: 0.8em;
      width: 55px;
      left: 0; }
  #blog-inner .blog-post .blog-inner-content .blog-inner-text-block {
    position: relative;
    margin-top: 3em;
    padding-top: 3em; }
    #blog-inner .blog-post .blog-inner-content .blog-inner-text-block:before {
      top: 0;
      width: 55px;
      left: 0; }
  #blog-inner .blog-post .blog-inner-content h2 {
    font-size: 3em;
    margin-bottom: 0.8em;
    margin-top: 2em; }
  #blog-inner .blog-post .blog-inner-content .text-emphasized {
    margin-left: -14em;
    margin-top: 6em; }
  #blog-inner .blog-post .blog-inner-content .contact-info-social {
    margin: 6em 0; }
    #blog-inner .blog-post .blog-inner-content .contact-info-social li a {
      color: #fff;
      background-color: #000; }
      #blog-inner .blog-post .blog-inner-content .contact-info-social li a:hover, #blog-inner .blog-post .blog-inner-content .contact-info-social li a:focus {
        background-color: #ffe1bd; }

#blog-inner footer {
  border-top: none; }

#contact #map {
  height: 28.125em;
  width: 100%;
  margin-top: 4em;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

#contact footer {
  border-top: none; }

@media (max-width: 741px) {
  .two-column .two-column-content {
    margin-bottom: 2em; }
    .two-column .two-column-content .two-column-img,
    .two-column .two-column-content .two-column-txt {
      width: 100%;
      margin: 20px auto; }
      .two-column .two-column-content .two-column-img p,
      .two-column .two-column-content .two-column-txt p {
        margin-bottom: 20px; }
      .two-column .two-column-content .two-column-img h3,
      .two-column .two-column-content .two-column-txt h3 {
        margin: 0; } }

@media (max-width: 559px) {
  #about .social-network .button {
    margin: 2em auto; }
  p {
    font-size: 1em; }
  h2 {
    font-size: 2.6em !important;
    margin: 50px auto;
    word-wrap: break-word; }
  header {
    height: auto !important;
    padding: 2em 0;
    -webkit-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15); }
    header .header-content {
      display: table; }
      header .header-content .header-inner-wrapper {
        width: 100%;
        display: block; }
        header .header-content .header-inner-wrapper .logo {
          float: left; }
        header .header-content .header-inner-wrapper #nav-icon {
          display: block;
          float: right; }
      header .header-content nav {
        display: none;
        width: 100%;
        float: left;
        padding-top: 20px; }
        header .header-content nav a {
          display: block;
          margin-left: 0.3em; }
  #index .cover #owl-cover .owl-controls {
    position: relative; }
    #index .cover #owl-cover .owl-controls .owl-pagination {
      margin: 0 auto; }
      #index .cover #owl-cover .owl-controls .owl-pagination .owl-page {
        display: inline-block;
        margin-bottom: 0; }
  #index .cover #owl-cover .item {
    padding: 3em 0; }
    #index .cover #owl-cover .item h1 {
      font-size: 2em; }
    #index .cover #owl-cover .item p {
      margin-bottom: 0; }
    #index .cover #owl-cover .item a {
      margin-top: 2em; }
  .button {
    display: block;
    margin: 0 auto; }
  h3 {
    font-size: 2.5em;
    margin: 50px 0; }
  .two-column .two-column-content {
    margin-bottom: 2em; }
    .two-column .two-column-content .two-column-img,
    .two-column .two-column-content .two-column-txt {
      width: 100%;
      margin: 20px auto; }
      .two-column .two-column-content .two-column-img p,
      .two-column .two-column-content .two-column-txt p {
        margin-bottom: 20px; }
      .two-column .two-column-content .two-column-img h3,
      .two-column .two-column-content .two-column-txt h3 {
        margin: 0; }
  .contact .contact-content .contact-form {
    width: 100%;
    margin-top: 4em; }
  .contact .contact-content .contact-info {
    width: 100%; }
    .contact .contact-content .contact-info .contact-info-social li {
      width: 2em;
      height: 2em; }
      .contact .contact-content .contact-info .contact-info-social li .fa {
        font-size: 1em;
        line-height: 0; }
  .contact .contact-content .button {
    margin: 1em auto 4em auto; }
  .testimonial #owl-logo .item-logo img {
    width: 90%; }
  #blog-inner .blog-post .blog-inner-content .text-emphasized {
    padding-left: 0;
    margin-left: 0; }
    #blog-inner .blog-post .blog-inner-content .text-emphasized:before {
      margin-left: 0; }
  .text-emphasized {
    padding-left: 0; }
    .text-emphasized:before {
      margin-left: 0; }
    .text-emphasized h5 {
      font-size: 2em; }
  .statistics .statistics-content {
    height: auto; }
    .statistics .statistics-content .statistic-item {
      width: 100%;
      margin-bottom: 3em; }
      .statistics .statistics-content .statistic-item:last-child {
        margin-bottom: 0; }
  .team {
    padding: 40px 0; }
    .team h2 {
      margin: 0; }
    .team .team-content {
      margin-top: 40px; }
  .related {
    padding: 40px 0; }
    .related h2 {
      margin-bottom: 40px; }
    .related #owl-posts .item {
      margin: 0;
      width: 95%; }
      .related #owl-posts .item h5 {
        font-size: 1em; } }

@media (max-width: 700px) {
  .testimonial .testimonial-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .testimonial .testimonial-content .testimonial-name {
      width: 100%;
      margin-top: 0;
      text-align: center;
      padding-right: 0;
      padding-right: 0; }
      .testimonial .testimonial-content .testimonial-name h5:after {
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto; }
      .testimonial .testimonial-content .testimonial-name p {
        text-align: center; }
    .testimonial .testimonial-content .testimonial-quote {
      width: 100%;
      text-align: center;
      margin-top: 2em; }
      .testimonial .testimonial-content .testimonial-quote p {
        padding-right: 0; } }

@media (max-width: 900px) {
  #services-inner .price h3 {
    font-size: 2em; }
  #services-inner .price h4 {
    font-size: 1.3em; }
    #services-inner .price h4 span {
      margin-right: 0; }
  #services-inner .price div {
    width: 100%;
    text-align: center;
    margin-top: 3em; } }

@media (min-width: 560px) and (max-width: 1169px) {
  .button {
    font-size: 0.875em; }
  .two-column .two-column-content {
    margin-bottom: 3em; }
    .two-column .two-column-content .two-column-img {
      width: 50%; }
    .two-column .two-column-content .two-column-txt h4 {
      font-size: 1.2em; }
    .two-column .two-column-content .two-column-txt h3 {
      font-size: 2em; }
    .two-column .two-column-content .two-column-txt p {
      font-size: 0.875em;
      margin-bottom: 10px; }
  .text-emphasized {
    padding-left: 2em; }
    .text-emphasized:before {
      margin-left: 2em; } }

@media (min-width: 559px) and (max-width: 1069px) {
  .contact .contact-content .contact-form {
    margin-top: 0; } }

@media (max-width: 976px) {
  .portfolio .isotope-portfolio .isotope-item .portfolio-hover .portfolio-heading {
    padding-bottom: 0.6em;
    margin-bottom: 0.4em; }
    .portfolio .isotope-portfolio .isotope-item .portfolio-hover .portfolio-heading h5 {
      font-size: 1.5em; }
    .portfolio .isotope-portfolio .isotope-item .portfolio-hover .portfolio-heading p {
      font-size: 1em; }
  .team .team-content .customNavigation {
    display: none; } }

@media (max-width: 1170px) {
  .portfolio .portfolio-content .padding-left {
    padding-left: 0px; }
  .portfolio .portfolio-content .padding-right {
    padding-right: 0px; }
  .portfolio .isotope-portfolio .isotope-item .portfolio-hover {
    padding: 2em 0; }
  .testmonial .testmonial-content .testmonial-quote {
    width: 100%; }
  .blog-inner .text-emphasized {
    margin-left: 0; }
  #works-inner .works-images #owl-works {
    width: 90%; }
  #blog-inner .blog-post .blog-inner-content .text-emphasized {
    padding-left: 0;
    margin-left: 0; }
    #blog-inner .blog-post .blog-inner-content .text-emphasized:before {
      margin-left: 0; } }

/* MASONRY */
@media (min-width: 1280px) {
  .wrapper {
    width: 1260px; } }

@media (max-width: 460px) {
  .portfolio .isotope-portfolio .isotope-item {
    width: 100%; }
  .works .filter-list button {
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .works .filter-list button:last-child {
      margin-right: auto; } }

@media (min-width: 461px) and (max-width: 920px) {
  .portfolio .isotope-portfolio .isotope-item {
    width: 47.7%; } }

/* MASONRY END */
