#about {
    .social-network {
        text-align: center;
        .owl-pagination {
            display: none;
        }
        .button {
            margin: 4em auto;
        }
    }
    footer {
        border-top: none;
    }
}