#blog-inner {
    .blog-post {
        .heading {
            margin-bottom: 6em;
        }
        .blog-inner-content {
            width: 47.25em;
            @media (max-width: 47.25em) {
                width: 95%;
            }
            margin: 0 auto;
            img {
                width: 100%;
            }
            p {
                margin-bottom: 2em;
                color: $color-grey-text;
            }
            .paragraph-indented {
                position: relative;
                margin-left: -1.5em;
                padding-left: 4em;
                ;
                &:before {
                    @extend.underline;
                    top: 0.8em;
                    width: 55px;
                    left: 0;
                }
            }
            .blog-inner-text-block {
                position: relative;
                margin-top: 3em;
                padding-top: 3em;
                &:before {
                    @extend.underline;
                    top: 0;
                    width: 55px;
                    left: 0;
                }
            }
            h2 {
                font-size: 3em;
                margin-bottom: 0.8em;
                margin-top: 2em;
            }
            .text-emphasized {
                margin-left: -14em;
                margin-top: 6em;
            }
            .contact-info-social {
                margin: 6em 0;
                li {
                    a {
                        color: $color-white;
                        background-color: $color-black;
                        &:hover,
                        &:focus {
                            background-color: $brand-color;
                        }
                    }
                }
            }
        }
    }
    footer {
        border-top: none;
    }
}