#contact {
    #map {
        height: 28.125em;
        width: 100%;
        margin-top: 4em;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    footer {
        border-top: none;
    }
}
