footer {
    text-align: center;
    padding: 3em;
    @extend.border-top;
    h5 {
        font-size: 1.125em;
    }
    p {
        font-size: 0.875em;
        color: $color-grey-text;
        
    }
}