.col-6 {
    width: 50%;
    float: left;
}

a,
h3,
h4 {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.box-shadow {
    -webkit-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
}

.button {
    width: 9em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 10em;
    border: none;
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.125em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    &.button-light {
        background-color: $color-white;
        border: 1px solid $color-grey-light;
        color: $color-black;
        &:hover,
        &:focus {
            //background-color: $color-black;
            //color: $color-white;
            border: 1px solid $color-black;
            background-color: $brand-color;
            outline: none;
        }
    }
    &.button-border {
        background-color: $color-white;
        border: 1px solid $color-grey-light;
        color: $color-black;
        &:hover,
        &:focus {
            //background-color: $color-black;
            //color: $color-white;
            border: 1px solid $color-black;
        }
    }
    &.button-dark {
        background-color: $color-black;
        color: $color-white;
        &:hover,
        &:focus {
            background-color: $brand-color;
            color: #000;
        }
    }
}

button {
    outline: none;
}

.heading {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.underline {
    content: "";
    position: absolute;
    height: 2px;
    background: $color-black;
}

.owl-carousel {
    h5 {
        margin-top: 10px;
        position: relative;
        padding-bottom: 0.5em;
        margin-bottom: 0.2em;
        &:after {
            @extend .underline;
            width: 55px;
            bottom: 0;
            left: 0;
        }
    }
}

.contact {
    .contact-content {
        @include container();
        @include flexbox-wrap();
        font-family: 'Montserrat-light', sans-serif;
        .contact-info {
            width: 50%;
            .contact-info-list {
                li {
                    margin-bottom: 2em;
                    line-height: 1.6;
                    padding-left: 1em;
                    margin-left: 1em;
                    position: relative;
                    &:before {
                        position: absolute;
                        left: -1em;
                        margin-right: 1em;
                        margin-top: 0.1em;
                        font-family: FontAwesome;
                    }
                    &#contact-map:before {
                        content: "\f041";
                        // font-size: 1em;
                    }
                    &#contact-phone:before {
                        content: "\f10b";
                        // font-size: 1.2em;
                    }
                    &#contact-email:before {
                        content: "\f003";
                        // font-size: 0.8em;
                    }
                }
            }
        }
        .contact-form {
            color: $color-grey-text;
            width: 50%;
            //padding-left: 6.8em;
            #contact-name,
            #contact-email,
            textarea {
                background: transparent;
                width: 100%;
                margin-bottom: 3em;
                padding-bottom: .5em;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1px solid $color-grey-text;
                font-family: 'Montserrat-light', sans-serif;
                font-size: 1.125em;
                &:focus {
                    outline: none;
                }
            }
            textarea {
                height: 5em;
            }
        }
        .button {
            margin: 3em auto 6em auto;
        }
    }
    &.contact-dark {
        background-image: url("../img/contact-bckg.jpg");
        h2 {
            color: $color-white;
        }
        .contact-info-list {
            li {
                color: $color-white;
            }
        }
        .contact-form {
            #contact-name,
            #contact-email,
            textarea {
                color: $color-white;
            }
        }
    }
    &.contact-light {
        background: none;
        h2 {
            color: $color-black;
        }
        .contact-info-list {
            li {
                color: $color-grey-text;
            }
        }
        .contact-form {
            #contact-name,
            #contact-email,
            textarea {
                color: $color-black;
            }
        }
        #contact-map:before {
            color: $color-black;
        }
        #contact-phone:before {
            color: $color-black;
        }
        #contact-email:before {
            color: $color-black;
        }
    }
}

.owl-theme {
    .owl-controls {
        .owl-page {
            &.active {
                opacity: 1;
                span {
                    background: #000;
                }
            }
            span {
                background: transparent;
                border: 1px solid #000;
                opacity: 1;
            }
        }
    }
}

.two-column {
    @include container();
    .two-column-content {
        @include flexbox-wrap();
        justify-content: space-between;
        margin-bottom: 6.25em;
        .order-reverse-a {
            order: 1;
            @media (max-width: 741px) {
                order: 2;
            }
        }
        .order-reverse-b {
            order: 2;
            @media (max-width: 741px) {
                order: 1;
            }
        }
        .two-column-img {
            width: $column-width;
            img {
                width: 100%;
            }
        }
        .two-column-txt {
            width: $column-width;
            .custom-heading {
                position: relative;
                padding-bottom: 30px;
                margin-bottom: 30px;
                a {
                    display: inline-block;
                    h3,
                    h4 {
                        color: $color-black;
                    }
                    &:hover,
                    &:focus {
                        h3,
                        h4 {
                            color: $brand-color;
                        }
                    }
                }
                &:after {
                    @extend .underline;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 3.4375em;
                }
                p {
                    color: $color-black;
                    margin-bottom: -0.1em;
                    padding-top: 1em;
                }
            }
            p {
                color: $color-grey-text;
                margin-bottom: 40px;
            }
            .padding-left {
                padding-left: 6.25em;
            }
            .padding-right {
                padding-right: 6.25em;
            }
            &.two-column-single-txt {
                position: relative;
                padding-top: 3em;
                &:before {
                    @extend.underline;
                    width: 55px;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.statistics {
    width: 100%;
    @extend.border-top;
    .statistics-content {
        width: 57em;
        margin: 0 auto;
        @media (max-width: 71.875em) {
            width: 95%;
        }
        @include flexbox-wrap();
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8em;
        text-align: center;
        padding-top: 5em;
        .statistic-item {
            h5 {
                position: relative;
                margin-bottom: 0.25em;
                padding-bottom: 0.55em;
                &:after {
                    @extend.underline;
                    bottom: 0;
                    width: 55px;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.filter-list {
    margin-bottom: 6em;
    text-align: center;
    li {
        cursor: pointer;
        font-size: 1.125em;
        color: $color-grey-menu;
        font-family: 'Montserrat-light', sans-serif;
        display: inline-block;
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
        &.filter-active,
        &:hover,
        &:focus {
            color: $color-black;
        }
    }
}

.text-emphasized {
    padding-left: 4.375em;
    position: relative;
    padding-top: 2.2em;
    margin-top: 3em;
    &:before {
        @extend.underline;
        margin-left: 4.375em;
        width: 55px;
        top: 0;
        left: 0;
    }
    h5 {
        line-height: 1.3em;
        font-size: 2.5em;
    }
}

.contact-info-social {
    li {
        margin-right: .8em;
        display: inline-block;
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &.contact-info-social-light {
        li {
            a {
                color: $color-black;
                background-color: $color-white;
                &:hover,
                &:focus {
                    background-color: $brand-color;
                }
            }
        }
    }
    &.contact-info-social-dark {
        li {
            a {
                color: $color-white;
                background-color: $color-black;
                &:hover,
                &:focus {
                    background-color: $brand-color;
                }
            }
        }
    }
}

.testimonial {
    @include container();
    .testimonial-content {
        @include flexbox();
        justify-content: center;
        .testimonial-name {
            @extend .col-6;
            float: right;
            text-align: right;
            padding-right: 5em;
            h5 {
                position: relative;
                padding-bottom: 0.5em;
                margin-bottom: 0.2em;
                &:after {
                    @extend .underline;
                    width: 55px;
                    bottom: 0;
                    right: 0;
                }
            }
            p {
                text-align: right;
            }
        }
        .testimonial-quote {
            @extend .col-6;
            p {
                color: $color-grey-text;
                padding-right: 3em;
            }
        }
    }
    #owl-logo {
        margin: 5em auto 6.25em auto;
        .item-logo {
            text-align: center;
            display: flex;
            height: 140px;
            align-items: center;
            justify-content: center;
            img {
                max-width: 150px;
                max-height: 80px;
            }
        }
    }
}

.portfolio {
    @include container();
    text-align: center;
    .isotope-portfolio {
        margin-bottom: 2em;
        .isotope-item {
            width: 32.2%;
            height: auto;
            display: inline-block;
            padding: 5px;
            box-sizing: border-box;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            a:hover,
            a:focus {
                outline: none;
            }
            img {
                width: 100%;
                vertical-align: middle;
                &:hover {
                    overflow: hidden;
                }
            }
            a {
                ove6flow: hidden;
                display: block;
                .portfolio-hover {
                    background-color: $brand-color;
                    position: absolute;
                    z-index: 999;
                    width: 90%;
                    bottom: 1em;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 2.1em 0;
                    display: none;
                    .portfolio-heading {
                        position: relative;
                        padding-bottom: 1em;
                        margin-bottom: 0.8em;
                        &:after {
                            @extend .underline;
                            width: 55px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        h5 {
                            font-size: 1.8em;
                        }
                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

.border-bottom {
    border-bottom: 1px solid $color-grey-light;
}

.border-top {
    border-top: 1px solid $color-grey-light;
}

.team {
    background-color: #ffe1bd;
    padding: 90px 0;
    margin-top: 90px;
    h2 {
        margin: 0;
    }
    .team-content {
        @include container();
        margin-top: 90px;
        position: relative;
        .customNavigation {
            cursor: pointer;
            position: absolute;
            margin-top: 5%;
            z-index: 999;
            & a {
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
            .arrow {
                display: inline-block;
                width: 35px;
                height: 35px;
                line-height: 7px;
                border-top: 3px solid #000;
                border-right: 3px solid #000;
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                &:hover {
                    border-top: 3px solid #fff;
                    border-right: 3px solid #fff;
                }
            }
            .arrow-left {
                -ms-transform: rotate(225deg);
                -moz-transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            .arrow-right {
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .customNavigationLeft {
            left: 0;
        }
        .customNavigationRight {
            right: 0;
        }
        #owl-team {
            &.owl-width {
                width: 80%;
                margin: 0 auto;
            }
            /* OWL */
            .item {
                margin: 10px auto;
                text-align: center;
                width: 170px;
                .img-circle {
                    width: 168px;
                    height: 168px;
                    border-radius: 50%;
                }
                h5 {
                    &:after {
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        /* OWL END*/
    }
}

.related {
    background-color: $brand-color;
    padding: 90px 0;
    h2 {
        margin-top: 0;
        margin-bottom: 90px;
    }
    #owl-posts {
        &.owl-width {
            width: 80%;
            margin: 0 auto;
        }
        .item {
            margin: 10px auto;
            width: 250px;
        }
    }
}
