ul {
    margin: 0;
}

$content-width: 71.875em;
header {
    width: 100%;
    background: $color-white;
    position: fixed;
    z-index: 999;
    height: 8em;
    top: 0;
    left: 0;
    z-index: 1000;
    @extend.border-bottom;
    &.header-small {
        @extend .box-shadow;
        border-bottom: none;
    }
    .header-content {
        @include flexbox();
        @include container();
        justify-content: space-between;
        align-items: center;
        height: 100%;
        nav {
            a {
                position: relative;
                display: inline-block;
                margin-left: 1em;
                padding: 0.5em 0;
                text-decoration: none;
                color: $color-grey-menu;
                font-family: 'Montserrat-light', sans-serif;
                &.nav-active {
                    color: $color-black;
                    position: relative;
                    &:after {
                        @extend .underline;
                        width: 37px;
                        bottom: 0;
                        left: 0;
                    }
                }
                &:after {
                    @extend .underline;
                    width: 0;
                    bottom: 0;
                    left: 0;
                    @include transition(width, 0.2s);
                }
                &:hover {
                    color: $color-black;
                    position: relative;
                    &:after {
                        width: 37px;
                    }
                }
            }
        }
        #nav-icon {
            z-index: 999;
            display: none;
            width: 40px;
            height: 25px;
            position: relative;
            @include transform-rotate(0deg);
            @include transition(all, 0.5s);
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                background: $color-grey-light;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                @include transform-rotate(0deg);
                @include transition(all, 0.25s);
                &:nth-child(1) {
                    top: 0px;
                    @include transform-origin();
                }
                &:nth-child(2) {
                    top: 12px;
                    @include transform-origin();
                }
                &:nth-child(3) {
                    top: 24px;
                    @include transform-origin();
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        @include transform-rotate(45deg);
                        top: 0px;
                        left: 8px;
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        @include transform-rotate(-45deg);
                        top: 29px;
                        left: 8px;
                    }
                }
            }
        }
    }
}
