#index {
    header {
        border-bottom: none;
    }
    .cover {
        @include container();
        position: relative;
        z-index: 888;
        /*owl-cover*/
        #owl-cover {
            .item {
                text-align: center;
                padding: 7em 0;
                text-align: center;
                h1 {
                    position: relative;
                    padding-bottom: 0.5em;
                    margin-bottom: 0.5em;
                    &:after {
                        @extend .underline;
                        width: 55px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                p {
                    font-size: 1.5em;
                    margin-bottom: -0.5em;
                }
                &#cover-item-1 {
                    background-image: url(../img/cover.jpg)
                }
                &#cover-item-2 {
                    background-image: url(../img/cover2.jpg)
                }
                &#cover-item-3 {
                    background-image: url(../img/cover3.jpg)
                }
                a {
                    margin-top: 5em;
                }
            }
            .owl-controls {
                display: flex;
                align-items: center;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                .owl-pagination {
                    margin-right: 1em;
                    z-index: 999;
                    .owl-page {
                        display: block;
                        margin-bottom: 1em;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .owl-buttons {
                    display: none;
                }
            }
        }
    }
    footer {
        border-top: none;
    }
}
