@media (max-width: 741px) {
    .two-column {
        .two-column-content {
            margin-bottom: 2em;
            .two-column-img,
            .two-column-txt {
                width: 100%;
                margin: 20px auto;
                p {
                    margin-bottom: 20px;
                }
                h3 {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 559px) {
    #about {
        .social-network {
            .button {
                margin: 2em auto;
            }
        }
    }
    p {
        font-size: 1em;
    }
    h2 {
        font-size: 2.6em !important;
        margin: 50px auto;
        word-wrap: break-word;
    }
    header {
        height: auto !important;
        padding: 2em 0;
        -webkit-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
        box-shadow: 0px -3px 16px 4px rgba(0, 0, 0, 0.15);
        .header-content {
            display: table;
            .header-inner-wrapper {
                width: 100%;
                display: block;
                .logo {
                    float: left;
                }
                #nav-icon {
                    display: block;
                    float: right;
                }
            }
            nav {
                display: none;
                width: 100%;
                float: left;
                padding-top: 20px;
                a {
                    display: block;
                    margin-left: 0.3em;
                }
            }
        }
    }
    #index {
        .cover {
            #owl-cover {
                .owl-controls {
                    position: relative;
                    .owl-pagination {
                        margin: 0 auto;
                        .owl-page {
                            display: inline-block;
                            margin-bottom: 0;
                        }
                    }
                }
                .item {
                    padding: 3em 0;
                    h1 {
                        font-size: 2em;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        margin-top: 2em;
                    }
                }
            }
        }
    }
    .button {
        display: block;
        margin: 0 auto;
    }
    h3 {
        font-size: 2.5em;
        margin: 50px 0;
    }
    .two-column {
        .two-column-content {
            margin-bottom: 2em;
            .two-column-img,
            .two-column-txt {
                width: 100%;
                margin: 20px auto;
                p {
                    margin-bottom: 20px;
                }
                h3 {
                    margin: 0;
                }
            }
        }
    }
    .contact {
        .contact-content {
            .contact-form {
                width: 100%;
                margin-top: 4em;
                input,
                textarea {
                    // width: 100%;
                }
            }
            .contact-info {
                width: 100%;
                .contact-info-social {
                    li {
                        width: 2em;
                        height: 2em;
                        .fa {
                            font-size: 1em;
                            line-height: 0;
                        }
                    }
                }
            }
            .button {
                margin: 1em auto 4em auto;
            }
        }
    }
    .testimonial {
        #owl-logo {
            .item-logo {
                img {
                    width: 90%;
                }
            }
        }
    }
    #blog-inner {
        .blog-post {
            .blog-inner-content {
                .text-emphasized {
                    padding-left: 0;
                    margin-left: 0;
                    &:before {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .text-emphasized {
        padding-left: 0;
        &:before {
            margin-left: 0;
        }
        h5 {
            font-size: 2em;
        }
    }
    .statistics {
        .statistics-content {
            height: auto;
            .statistic-item {
                width: 100%;
                margin-bottom: 3em;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .team {
        padding: 40px 0;
        h2 {
            margin: 0;
        }
        .team-content {
            margin-top: 40px;
        }
    }
    .related {
        padding: 40px 0;
        h2 {
            margin-bottom: 40px;
        }
        #owl-posts {
            .item {
                margin: 0;
                width: 95%;
                h5 {
                    font-size: 1em;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .testimonial {
        .testimonial-content {
            flex-wrap: wrap;
            justify-content: center;
            .testimonial-name {
                width: 100%;
                margin-top: 0;
                text-align: center;
                padding-right: 0;
                padding-right: 0;
                h5 {
                    &:after {
                        right: 0;
                        left: 0;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                p {
                    text-align: center;
                }
            }
            .testimonial-quote {
                width: 100%;
                text-align: center;
                margin-top: 2em;
                p {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #services-inner {
        .price {
            h3 {
                font-size: 2em;
            }
            h4 {
                font-size: 1.3em;
                span {
                    margin-right: 0;
                }
            }
            div {
                width: 100%;
                text-align: center;
                margin-top: 3em;
            }
        }
    }
}

@media (min-width: 560px) and (max-width: 1169px) {
    .button {
        font-size: 0.875em;
    }
    .two-column {
        .two-column-content {
            margin-bottom: 3em;
            .two-column-img {
                width: 50%;
            }
            .two-column-txt {
                h4 {
                    font-size: 1.2em;
                }
                h3 {
                    font-size: 2em;
                }
                p {
                    font-size: 0.875em;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .text-emphasized {
        padding-left: 2em;
        &:before {
            margin-left: 2em;
        }
    }
}

@media (min-width: 559px) and (max-width: 1069px) {
    .contact {
        .contact-content {
            .contact-form {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 976px) {
    .portfolio {
        .isotope-portfolio {
            .isotope-item {
                .portfolio-hover {
                    .portfolio-heading {
                        padding-bottom: 0.6em;
                        margin-bottom: 0.4em;
                        h5 {
                            font-size: 1.5em;
                        }
                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
    .team {
        .team-content {
            .customNavigation {
                display: none;
            }
        }
    }
}

@media (max-width: 1170px) {
    .portfolio {
        .portfolio-content {
            .padding-left {
                padding-left: 0px;
            }
            .padding-right {
                padding-right: 0px;
            }
        }
        .isotope-portfolio {
            .isotope-item {
                .portfolio-hover {
                    padding: 2em 0;
                }
            }
        }
    }
    .testmonial {
        .testmonial-content {
            .testmonial-quote {
                width: 100%;
            }
        }
    }
    .blog-inner {
        .text-emphasized {
            margin-left: 0;
        }
    }
    #works-inner {
        .works-images {
            #owl-works {
                width: 90%;
            }
        }
    }
    #blog-inner {
        .blog-post {
            .blog-inner-content {
                .text-emphasized {
                    padding-left: 0;
                    margin-left: 0;
                    &:before {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


/* MASONRY */

@media (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

@media (max-width: 460px) {
    .portfolio {
        .isotope-portfolio {
            .isotope-item {
                width: 100%;
            }
        }
    }
    .works {
        .filter-list {
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                &:last-child {
                    margin-right: auto;
                }
            }
        }
    }
}

@media (min-width: 461px) and (max-width: 920px) {
    .portfolio {
        .isotope-portfolio {
            .isotope-item {
                width: 47.7%;
            }
        }
    }
}


/* MASONRY END */
