#services-inner {
    .price {
        background-color: $color-black;
        color: $color-white;
        @include flexbox();
        @include flexbox-wrap();
        justify-content: center;
        align-items: center;
        padding: 5em 0;
        margin-top: 4em;
        h3 {
            color: $color-white;
            position: relative;
            margin-left: 0em;
            padding-left: 3em;
            &:before {
                @extend.underline;
                background-color: $color-white;
                width: 55px;
                left: 1em;
                right: 2em;
                top: 0.55em;
            }
        }
        h4 {
            span {
                color: $color-grey-light;
                padding-left: 0.5em;
                margin-right: 3.5em;
            }
        }
    }
    footer {
        border-top: none;
    }
}
