body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

@font-face {
    font-family: "Montserrat-light";
    src: url('../fonts/Montserrat-Light.ttf');
}

h1,
h3,
h5 {
    font-family: 'Montserrat', sans-serif;
    color: $color-black;
    margin: 0;
    font-weight: bold;
}

h4,
p {
    font-family: 'Montserrat-light', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: 'Montserrat Hairline', arial;
    font-size: 3.75em;
    margin: 90px 0;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 1.875em;
}

h5 {
    font-size: 1.8em;
}

p {
    font-size: 1.125em;
    color: $color-black;
    line-height: 1.6875em;
}
