/* COLORS */

$color-black: #000;
$color-grey-menu: #989898;
$color-grey-text: #656565;
$color-grey-light: #d8d8d8;
$brand-color: #ffe1bd;
$color-white: #fff;

/* LAYOUT */

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-wrap() {
    @include flexbox();
    -ms-box-orient: horizontal;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin container() {
    width: 71.875em;
    margin: 0 auto;
    @media (max-width: 75.875em) {
        width: 95%;
    }
}

$column-width: 45%;
@mixin transform-origin() {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

@mixin transform-rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin transition($property, $speed) {
    -webkit-transition: $property $speed ease-in-out;
    -moz-transition: $property $speed ease-in-out;
    -o-transition: $property $speed ease-in-out;
    transition: $property $speed ease-in-out;
}
