.works {
    .button {
        margin: 2em auto 4em auto;
    }
    .filter-list {
        margin-bottom: 6em;
        text-align: center;
        button {
            cursor: pointer;
            font-size: 1.125em;
            color: $color-grey-menu;
            font-family: 'Montserrat-light', sans-serif;
            display: inline-block;
            margin-right: 1em;
            background-color: transparent;
            border: none;
            &:last-child {
                margin-right: 0;
            }
            &.filter-active,
            &:hover,
            &:focus {
                color: $color-black;
                background-color: transparent;
                border: none;
            }
        }
    }
}

#works-inner {
    .works-controls {
        width: 100%;
        text-align: center;
        .button {
            font-family: 'Montserrat-light', sans-serif;
            font-size: 1.125em;
            color: $color-grey-menu;
            width: 4em;
            display: inline-block;
        }
    }
    .works-images {
        margin-top: 6em;
        #owl-works {
            width: 952px;
            margin: 0 auto;
            .item {
                // width: 952px;
                // height: 618px;
                img {
                    width: 100%;
                }
            }
            .owl-pagination {
                margin-top: 3em;
                margin-bottom: 6em;
            }
            .owl-buttons {
                display: none;
            }
        }
    }
    .text-emphasized {
        margin-top: 0;
    }
    .contact-info-social {
        padding-top: 3em;
    }
    footer {
        border-top: none;
    }
}
